html,
body {
  background-color: var(--c-bg) !important;
  transition: background-color var(--t-color);
}
body {
  font-family: var(--font-family);
  color: var(--c-text) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--c-text) !important;
  margin-bottom: 0.5em !important;
}

.custom-container-title {
  margin: 1em 0 0.5em 0 !important;
}

:root {
  --content-width: 100%;
}

.vmi-previewer-example, .ant-picker-dropdown {
  table {
    display: table;
    tr:nth-child(2n) {
      background: none;
    }
    tr {
      border: none;
    }
    th, td {
      border: none;
    }
  }
}
